.foto perfil {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin: 20px auto;
    display: block;
}div.borde {
    border: 1px solid rgb(90, 37, 205);
}
class="Mi Primer Proyecto" {
    background-color: rgb(227, 175, 208);
}p {
    color: blue;
}