@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background: linear-gradient(-45deg, #6a0dad, #cfa12e, #9b30ff, #ffd700);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  position: relative;
}

}